{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<br>
<ul class="list-group">
{% for comment in object_list %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">
        <p> On {{comment.date}}, {{comment.author}} commented the post titled: "{{comment.post}}"
        with: "{{comment.body}}"</p>
      </div>

    </div>
  </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}